/* Ana Renkler */
.color-primary {
    color: var(--ant-color-primary);
}

.color-primary-1 {
    color: var(--ant-color-primary-1);
}

.color-primary-2 {
    color: var(--ant-color-primary-2);
}

.color-primary-3 {
    color: var(--ant-color-primary-3);
}

.color-primary-4 {
    color: var(--ant-color-primary-4);
}

.color-primary-5 {
    color: var(--ant-color-primary-5);
}

.color-primary-6 {
    color: var(--ant-color-primary-6);
}

.color-primary-7 {
    color: var(--ant-color-primary-7);
}

.color-primary-8 {
    color: var(--ant-color-primary-8);
}

.color-primary-9 {
    color: var(--ant-color-primary-9);
}

.color-primary-10 {
    color: var(--ant-color-primary-10);
}

.color-secondary {
    color: var(--ant-color-secondary);
}

.color-secondary-1 {
    color: var(--ant-color-secondary-1);
}

.color-secondary-2 {
    color: var(--ant-color-secondary-2);
}

.color-secondary-3 {
    color: var(--ant-color-secondary-3);
}

.color-secondary-4 {
    color: var(--ant-color-secondary-4);
}

.color-secondary-5 {
    color: var(--ant-color-secondary-5);
}

.color-secondary-6 {
    color: var(--ant-color-secondary-6);
}

.color-secondary-7 {
    color: var(--ant-color-secondary-7);
}

.color-secondary-8 {
    color: var(--ant-color-secondary-8);
}

.color-secondary-9 {
    color: var(--ant-color-secondary-9);
}

.color-secondary-10 {
    color: var(--ant-color-secondary-10);
}

.color-success {
    color: var(--ant-color-success);
}

.color-warning {
    color: var(--ant-color-warning);
}

.color-error {
    color: var(--ant-color-error);
}

.color-info {
    color: var(--ant-color-info);
}

.color-link {
    color: var(--ant-color-link);
}

.color-white {
    color: var(--ant-color-white);
}

.color-black {
    color: var(--ant-color-black);
}

.color-text {
    color: var(--ant-color-text);
}

.color-text-secondary {
    color: var(--ant-color-text-secondary);
}

.color-text-tertiary {
    color: var(--ant-color-text-tertiary);
}

.bg-text {
    background-color: var(--ant-color-text);
}

.bg-text-secondary {
    background-color: var(--ant-color-text-secondary);
}

.bg-text-tertiary {
    background-color: var(--ant-color-text-tertiary);
}

.bg-primary {
    background-color: var(--ant-color-primary);
}

.bg-primary-1 {
    background-color: var(--ant-color-primary-1);
}

.bg-primary-2 {
    background-color: var(--ant-color-primary-2);
}

.bg-primary-3 {
    background-color: var(--ant-color-primary-3);
}

.bg-primary-4 {
    background-color: var(--ant-color-primary-4);
}

.bg-primary-5 {
    background-color: var(--ant-color-primary-5);
}

.bg-primary-6 {
    background-color: var(--ant-color-primary-6);
}

.bg-primary-7 {
    background-color: var(--ant-color-primary-7);
}

.bg-primary-8 {
    background-color: var(--ant-color-primary-8);
}

.bg-primary-9 {
    background-color: var(--ant-color-primary-9);
}

.bg-primary-10 {
    background-color: var(--ant-color-primary-10);
}

.bg-secondary {
    background-color: var(--ant-color-secondary);
}

.bg-secondary-1 {
    background-color: var(--ant-color-secondary-1);
}

.bg-secondary-2 {
    background-color: var(--ant-color-secondary-2);
}

.bg-secondary-3 {
    background-color: var(--ant-color-secondary-3);
}

.bg-secondary-4 {
    background-color: var(--ant-color-secondary-4);
}

.bg-secondary-5 {
    background-color: var(--ant-color-secondary-5);
}

.bg-secondary-6 {
    background-color: var(--ant-color-secondary-6);
}

.bg-secondary-7 {
    background-color: var(--ant-color-secondary-7);
}

.bg-secondary-8 {
    background-color: var(--ant-color-secondary-8);
}

.bg-secondary-9 {
    background-color: var(--ant-color-secondary-9);
}

.bg-secondary-10 {
    background-color: var(--ant-color-secondary-10);
}

.bg-success {
    background-color: var(--ant-color-success);
}

.bg-warning {
    background-color: var(--ant-color-warning);
}

.bg-error {
    background-color: var(--ant-color-error);
}

.bg-info {
    background-color: var(--ant-color-info);
}

.bg-link {
    background-color: var(--ant-color-link);
}

.bg-primary-light {
    background-color: var(--ant-color-primary-bg);
}

.bg-white {
    background-color: var(--ant-color-white);
}

.bg-black {
    background-color: #000000;
}

/* Temel Renk Paletleri */
.color-blue {
    color: var(--ant-blue);
}

.color-purple {
    color: var(--ant-purple);
}

.color-cyan {
    color: var(--ant-cyan);
}

.color-green {
    color: var(--ant-green);
}

.color-magenta {
    color: var(--ant-magenta);
}

.color-pink {
    color: var(--ant-pink);
}

.color-red {
    color: var(--ant-red);
}

.color-orange {
    color: var(--ant-orange);
}

.color-yellow {
    color: var(--ant-yellow);
}

.color-volcano {
    color: var(--ant-volcano);
}

.color-geekblue {
    color: var(--ant-geekblue);
}

.color-gold {
    color: var(--ant-gold);
}

.color-lime {
    color: var(--ant-lime);
}

.font-main {
    font-family: var(--ant-font-family);
}

/* Font Boyutları */
.p-sm {
    font-size: var(--ant-font-size-sm);
}

.p-lg {
    font-size: var(--ant-font-size-lg);
}

.p-xl {
    font-size: var(--ant-font-size-xl);
}

/* Başlıklar (Size + Line Height) */
.h1,
h1 {
    font-size: var(--ant-font-size-heading-1);
    line-height: var(--ant-line-height-heading-1);
}

.h2,
h2 {
    font-size: var(--ant-font-size-heading-2);
    line-height: var(--ant-line-height-heading-2);
}

.h3,
h3 {
    font-size: var(--ant-font-size-heading-3);
    line-height: var(--ant-line-height-heading-3);
}

.h4,
h4 {
    font-size: var(--ant-font-size-heading-4);
    line-height: var(--ant-line-height-heading-4);
}

.h5,
h5 {
    font-size: var(--ant-font-size-heading-5);
    line-height: var(--ant-line-height-heading-5);
}